<div class="surface-ground p-8">
  <div class="grid">
      <div class="col-12 lg:col-4 p-3" *ngFor="let room of rooms">
          <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
              <div style="background-color: var(--green-mrc);" class="p-4 border-round inline-flex align-items-center text-white justify-content-center mr-3">
                  <fa-icon [icon]="['fas', 'door-open']" size="2xl"></fa-icon>
              </div>
              <div>
                  <span class="text-900 text-xl font-medium mb-2">{{room.name}}</span>
                  <p class="mt-1 mb-0 text-600 font-medium text-sm">{{room.description}}</p>
              </div>
              <div class="ml-auto">
                  <button pButton pRipple label="Visiter" class="p-button-text p-button-plain p-button-rounded" (click)="goToRoom(room)"></button>
              </div>
          </div>
      </div>
  </div>
</div>
