.navbar {
  min-height: var(--navbar-height);

  .mrc-logo {
    width: 12rem;
  }
  .custom-button {
    img, i {
      width: 4rem;
      height: 4rem;
    }
    .badge {
      color: white;
      background-color: var(--blue-mrc)!important;
      width: 30px;
      height: 30px;
      top:20%;
      left: 0;
      transform: translateX(-10%);
    }
  }
  @media screen and (max-width: 600px) {
    .mrc-logo {
      width: 9rem;
    }
    .custom-button {
      img, i {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

