<div class="navbar flex p-3 w-full align-items-center bg-white">
  <div class="w-4 flex justify-content-start">
    <span class="custom-button mx-3 cursor-pointer bg-white border-round p-2" (click)="goMap()" *ngIf="showMapButton && currentNavigationMode !== 'secondary'">
      <img src="assets/img/picto_home.svg" />
    </span>
    <span class="custom-button mx-5 cursor-pointer bg-white border-round p-2" (click)="goBack()" *ngIf="showBackButton && currentNavigationMode !== 'secondary'">
      <img src="assets/img/picto_back.svg" />
    </span>
    <p-dropdown [options]="navigationModes" [(ngModel)]="currentNavigationMode" optionValue="value" (onChange)="navigationModeChange()"></p-dropdown>
  </div>
  <div class="w-4 flex justify-content-center">
    <img src="assets/img/logo_mrc.svg" *ngIf="showLogo" />
    <h1 *ngIf="title !== ''" class="text-center text-4xl {{ titleColor }}">{{ title }}</h1>
  </div>
  <div class="w-4 flex justify-content-end">
    <!-- <span class="custom-button mx-5 cursor-pointer" (click)="1+1" *ngIf="showControls">
            <img src="assets/img/picto_eye.svg">
          </span> -->
    <span class="custom-button mx-5 relative flex cursor-pointer bg-white border-round p-2" *ngIf="showListButton || currentNavigationMode === 'secondary'" (click)="goToBasket()">
      <img src="assets/img/picto_list.svg" />
      <span class="badge font-bold border-2 border-circle flex justify-content-center align-items-center absolute bg-white border-round p-2" *ngIf="basketCount">{{ basketCount }}</span>
    </span>
    <span class="custom-button mx-3 cursor-pointer bg-white border-round p-2" (click)="goHome()" *ngIf="showExitButton">
      <img src="assets/img/picto_exit.svg" />
    </span>
  </div>
</div>
<router-outlet></router-outlet>
