<div class="p-5 h-screen flex align-items-center">
  <div class="flex surface-section border-round shadow-2 w-full">
    <div class="flex-1 flex-column p-6 md:p-8">
         <div class="mb-5">
             <div class="text-900 text-3xl font-medium mb-3">Bienvenue dans la Maison re-connectée</div>
             <span class="text-600 font-medium mr-2">Vous n'avez pas de compte ?</span>
             <a [routerLink]="['/auth/signup']" class="font-medium no-underline text-blue-500 cursor-pointer">Créez-en un maintenant !</a>
         </div>
         <div>
          <form [formGroup]="signinForm" (submit)="signin()">
            <div class="formgrid grid">
              <div class="field col-12">
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email" type="text" placeholder="Adresse email" pInputText class="w-full p-3" formControlName="email">
                <small id="email-help" class="p-error block" *ngIf="errors['email']">{{errors['email']}}</small>
              </div>
              <div class="field col-12">
                <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
                <input id="password" type="password" placeholder="Mot de passe" pInputText class="w-full p-3" formControlName="password">
                <small id="password-help" class="p-error block" *ngIf="errors['password']">{{errors['password']}}</small>
              </div>
            </div>
            <div *ngIf="errors['nonFieldErrors']" class="mb-3">
              <small id="password-help" class="p-error block" *ngFor="let err of errors['nonFieldErrors']">{{err}}</small>
            </div>
            <div class="flex align-items-center justify-content-start mb-3">
                <a [routerLink]="['/auth/verify-email/manual']" class="font-medium no-underline text-blue-500 text-right cursor-pointer mr-2">Email non confirmé ?</a>
                <a [routerLink]="['/auth/forgot-password']" class="font-medium no-underline text-blue-500 text-right cursor-pointer">Mot de passe oublié ?</a>
            </div>
            <button type="submit" pButton pRipple label="Connexion" icon="pi pi-user" class="w-full p-3" ></button>

          </form>

         </div>
    </div>
    <div class="w-6 flex">
      <app-welcome-image></app-welcome-image>
    </div>
  </div>
</div>

