<div class="border-1 surface-border shadow-2 m-2 border-round p-3">
  <h2 class="text-900 font-medium">Serveurs de données</h2>
  <div class="my-2" *ngIf="user && user.org">
    <p>Vous appartenez à la structure {{user.org.name}}</p>
  </div>
  <div class="my-2" *ngIf="remoteAccesses!.length === 0">
    <p>Aucun serveur de donnée n'a été configuré.</p>
    <button pButton icon="pi pi-plus"  label="Ajouter un serveur de donnée" class="p-button-sm p-button-primary" (click)="openRemoteAccessDialog()">
    </button>
  </div>
  <p-table [value]="remoteAccesses!" *ngIf="remoteAccesses!.length > 0">
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>URL du serveur</th>
        <th>Préfix Clé d'API</th>
        <th>Structure</th>
        <th>Zone d'activité</th>
        <th></th>
        <th>
          <button pButton icon="pi pi-plus"  label="Ajouter un serveur de donnée" class="p-button-sm p-button-primary" (click)="openRemoteAccessDialog()"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-remoteAccess>
      <tr>
        <td>{{remoteAccess.name}}</td>
        <td>{{remoteAccess.serverUrl}}</td>
        <td>{{remoteAccess.apiKeyPrefix}}</td>
        <td>{{remoteAccess.org?.name}}</td>
        <td>{{remoteAccess.area?.name}}</td>
        <td>
          <p-badge value="défaut" *ngIf="remoteAccess.default"></p-badge>
        </td>
        <td>
          <button pButton class="p-button-sm p-button-success mr-2" (click)="synchronize(remoteAccess)" [disabled]="syncing">
            <fa-icon [icon]="['fas', 'rotate']" animation="spin" *ngIf="syncing"></fa-icon>
            <fa-icon [icon]="['fas', 'rotate']" *ngIf="!syncing"></fa-icon>
          </button>
          <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" (click)="deleteRemoteAccess($event, remoteAccess)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
<p-dialog header="Ajouter un serveur de donnée" [(visible)]="newRemoteAccessDialogVisible" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closable]="false">
  <form [formGroup]="newRemoteAccessForm" (submit)="createRemoteAccess()">
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="name" class="block text-900 font-medium mb-2">Nom</label>
        <input id="name" type="text" placeholder="Nom" pInputText class="w-full p-3" formControlName="name">
        <small id="name-help" class="p-error block" *ngIf="errors['name']">{{errors['name']}}</small>
      </div>
      <div class="field col-12">
        <label for="url" class="block text-900 font-medium mb-2">URL du serveur</label>
        <input id="url" type="text" placeholder="URL" pInputText class="w-full p-3" formControlName="serverUrl">
        <small id="url-help" class="p-error block" *ngIf="errors['serverUrl']">{{errors['serverUrl']}}</small>
      </div>
      <div class="field col-12">
        <label for="apiKey" class="block text-900 font-medium mb-2">Clé d'API</label>
        <input id="apiKey" type="text" placeholder="Nom d'utilisateur" pInputText class="w-full p-3" formControlName="apiKey">
        <small id="apiKey-help" class="p-error block" *ngIf="errors['apiKey']">{{errors['apiKey']}}</small>
      </div>
    </div>
    <div class="flex align-items center justify-content-end mt-3">
      <button pButton type="button" label="Annuler" class="p-button-sm p-button-secondary" (click)="newRemoteAccessDialogVisible = false"></button>
      <button pButton type="submit" label="Ajouter" class="p-button-sm p-button-primary ml-2"></button>
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
