

::ng-deep {
  .p-dialog {
    box-shadow: none;
    .p-dialog-content {
      background-color: transparent;
      padding: 0!important;
      overflow: hidden;
    }
    .video-player-wrapper {
      margin: auto;
      overflow: hidden;
    }
  }

}


