<div class="flex align-items-center justify-content-center h-screen ">
  <div class="flex w-6 bg-white flex-column p-6 border-round shadow-5">
    <img src="assets/img/logo_mrc.svg"/>
    <h1 class="w-full mb-4 text-center">Choississez le mode d'utilisation de la Maison (Re)Connectée</h1>
    <div class="flex justify-content-around">
      <button pButton label="Libre" class="p-button-lg" (click)="start('free')"></button>
      <button pButton label="Guidé" class="p-button-lg" (click)="start('primary')"></button>
    </div>
  </div>
</div>
