<div class="flex align-items-center justify-content-center h-screen ">
  <div class="flex bg-white  justify-content-center flex-column p-6 border-round shadow-5">
    <img src="assets/img/logo_mrc.svg" width="300px" class="mx-auto"/>
    <h1 class="w-full my-4 text-center">Choississez le mode d'utilisation <br> de la Maison (Re)Connectée</h1>
    <div class="flex justify-content-around">
      <button pButton label="Libre" class="p-button-lg" (click)="start('free')"></button>
      <button pButton label="Guidé" class="p-button-lg" (click)="start('primary')"></button>
    </div>
  </div>
</div>
