
<div class="pt-8">
    <h1 class="text-center text-5xl">{{item!.name}}</h1>
    <table>
      <tr>
        <td><div class="">{{useGrid[0][0]?.title}}</div></td>
        <td><div>{{useGrid[0][1]?.title}}</div></td>
        <td><div>{{useGrid[0][2]?.title}}</div></td>
      </tr>
      <tr>
        <td><div>{{useGrid[1][0]?.title}}</div></td>
        <td rowspan="2">
          <img [src]="item!.image" style="max-height: 23rem;" >
        </td>
        <td><div>{{useGrid[1][2]?.title}}</div></td>
      </tr>
      <tr>
        <td><div>{{useGrid[2][0]?.title}}</div></td>

        <td><div>{{useGrid[2][2]?.title}}</div></td>
      </tr>
      <tr>
        <td><div>{{useGrid[3][0]?.title}}</div></td>
        <td><div>{{useGrid[3][1]?.title}}</div></td>
        <td><div>{{useGrid[3][2]?.title}}</div></td>
      </tr>
    </table>
</div>

