table {
  width: 100%;
  tr {
    height: 12rem;
    td {
      text-align: center;
      width: 33%;
      .item-picture {
        height: 23rem;
      }
    }
  }
}

@media screen and (max-width: 1281px) {
  table {
    tr {
      height: 5rem;
      td {
        .item-picture {
          height: 20rem;
        }
      }
    }
  }

}

