
:host {
  .use-item {
    fa-icon {
      visibility: hidden;
    }
    &:hover {
      &.activable {
        background-color: var(--blue-200);
      }
      fa-icon {
        visibility: visible;
      }
    }
  }
}
