
<div class="pt-2 pb-3 px-6 flex align-items-center justify-content-between relative lg:static" style="background-color: var(--green-mrc);">
  <img src="assets/img/logo.jpg" alt="Image" class="mr-0 lg:mr-4 border-round-md">
  <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
      <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full">
      <ul class="list-none p-0 m-0 flex">
          <li>
              <a routerLink="/dashboard"  pRipple class="text-gray-100 flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <i class="pi pi-home mr-2"></i>
                  <span>Dashboard</span>
              </a>
          </li>
          <li class="lg:relative">
            <a routerLink="/settings"  pRipple class="text-gray-100 flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
              <i class="pi pi-cog mr-2"></i>
              <span>Configuration</span>
            </a>
          </li>
      </ul>
  </div>
  <div class="flex w-2 justify-content-end text-gray-100">
    {{user?.firstName}} {{user?.lastName}}
  </div>
</div>
<div class="surface-section">
  <router-outlet></router-outlet>
</div>
