
<div  class="flex justify-content-center align-items-center h-screen">
  <div class="bg-white p-4 w-8 border-1 border-round surface-border shadow-7">
  <div *ngFor="let service of basket.services" class="flex mb-2 ">
    <!-- <p-checkbox [(ngModel)]="selectedServices[service.uuid]" [binary]="true" inputId="binary" class="mr-2"></p-checkbox> -->
    <div class="border-1 border-round p-2">
      <div class="my1">{{service.title}}</div>
      <a href="{{service.url}}" target="_blank" class="text-700">{{ service.url }}</a>
      <p class="p-0 my-1"[innerHtml]="service.description | safeHtml"></p>
    </div>
    <div class="flex align-items-center ml-2">
      <button pButton icon="pi pi-trash" (click)="basket.remove(service)"></button>
    </div>
  </div>

  <div *ngIf="basketEmpty" class="border-1 border-round p-2 w-full text-center">
    <p>Votre liste est vide</p>
    <p>Pour collecter des fiches « service », visitez les différentes pièces de la Maison Reconnectée et découvrer les services liés aux objets présents dans ces pièces.</p>
  </div>
  <button *ngIf="!basketEmpty" pButton class="p-button-orange-mrc p-4 w-full" label="Télécharger votre liste de services" (click)="1+1"></button>
  </div>
</div>
