<div class="border-1 border-round surface-border w-11 md:w-8 overflow-auto mx-auto mt-2 md:mt-6 shadow-7">
  <div class="flex justify-content-start border-round-top align-items-center bg-blue-mrc text-2xl md:text-4xl p-3 md:px-6 md:py-4 ">
    <span class="text-4xl font-bold text-white"> Fin de la visite</span>
  </div>
  <div class="bg-white pl-3 pr-5 flex flex-column md:flex-row md:justify-content-end md:align-items-center text-white py-3 my-3 text-lg"
    *ngIf="basket.services.length > 0">
    <div *ngIf="!basketEmpty" [ngStyle]="{
          'color': selectedServices.length > 0 && !(downloadLoading || printLoading) ? 'var(--blue-mrc)' : 'grey',
          'cursor' : selectedServices.length > 0 && !(downloadLoading || printLoading) ? 'pointer' : 'default'
          }" class="mb-2 md:mb-0 md:mr-4">
      <span *ngIf="!isStandalone" (click)="download()">
        <fa-icon [icon]="['fas', 'download']" class="mr-2" *ngIf="!downloadLoading"></fa-icon>
        <fa-icon [icon]="['fas', 'spinner']" class="mr-2" animation="spin" *ngIf="downloadLoading"></fa-icon>
        <span>Télécharger votre liste de services</span>
      </span>
      <span *ngIf="isStandalone" (click)="print()">
        <fa-icon [icon]="['fas', 'print']" class="mr-2" *ngIf="!printLoading"></fa-icon>
        <fa-icon [icon]="['fas', 'spinner']" class="mr-2" animation="spin" *ngIf="printLoading"></fa-icon>
        <span>Imprimer votre liste de services</span>
      </span>
    </div>
    <div *ngIf="!basketEmpty" [ngStyle]="{
          'color': selectedServices.length > 0 ? 'var(--blue-mrc)' : 'grey',
          'cursor' : selectedServices.length > 0 ? 'pointer' : 'default'
        }">
      <span (click)="showEmailDialog = true">
        <fa-icon [icon]="['fas', 'envelope']" class="mr-2"></fa-icon>
        <span>Envoyer votre liste de services par email</span>
      </span>
    </div>
  </div>
  <div class="pl-3 pr-5" *ngIf="basket.services.length > 0" style="max-height: 400px;overflow-y: auto;">
    <div *ngFor="let service of basket.services" class="flex border-2 mb-3 relative shadow-2"
      style="border-color:var(--orange-mrc);color:var(--blue-mrc)"
      [ngStyle]="{'background-color': isSelected(service) ? '#fce2e1': 'white'}">
      <div class="flex w-2 justify-content-center align-items-center">
        <p-checkbox [binary]="true" inputId="binary" [(ngModel)]="selectedServiceStates[service.uuid]"></p-checkbox>
      </div>
      <div class="flex flex-column w-10 p-3  pr-4">
        <span class="my-1 font-bold">
          {{ service.title }}
          <span *ngIf="service.scope">
            <i class="pi pi-map-marker ml-3"></i>
            {{service.scope}}
          </span>
        </span>
        <p [innerHtml]="service.description | safeHtml"></p>
        <span class="font-bold">
          <i class="pi pi-globe mr-2"></i>
          <a href="{{service.url}}" target="_blank" class="font-italic" style="color:inherit;word-break: break-all;">{{
            service.url }}</a>
        </span>
      </div>

      <!-- <span class="p-2 border-round border-2 bg-white absolute cursor-pointer hover:text-red-600"
          style="top: 50%; right: 0; transform: translate(50%, -50%);" (click)="basket.remove(service)">
          <fa-icon [icon]="['fas', 'trash']" size="2xl"></fa-icon>
        </span> -->
    </div>
  </div>

  <div *ngIf="basketEmpty" class="px-4 w-full text-center">
    <p>Votre liste est vide</p>
    <p>Pour collecter des fiches « service », visitez les différentes pièces de la Maison Reconnectée et découvrer les
      services liés aux objets présents dans ces pièces.</p>
  </div>
  <div class="p-4 flex justify-content-end">
    <p-button styleClass="p-button-orange-mrc p-button" label="Continuer ma visite" (click)="goToBack()"></p-button>
  </div>
</div>

<p-dialog [resizable]="false" [maximizable]="false" [(visible)]="showEmailDialog" [draggable]="false" styleClass="email-dialog">
  <div class="flex flex-column">
    <div class="field">
      <label for="email">Adresse Email</label>
      <input id="email" [(ngModel)]="email" type="email"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        aria-describedby="username-help">
      <small id="email-help">Votre adresse email ne sera pas enregistrée.</small>
    </div>
    <button pButton (click)="sendMail()" class="p-button-orange-mrc flex justify-content-center align-items-center"
      [disabled]="!email">
      <fa-icon [icon]="['fas', 'envelope']" class="mr-2" *ngIf="!emailLoading"></fa-icon>
      <fa-icon [icon]="['fas', 'spinner']" class="mr-2" animation="spin" *ngIf="emailLoading"></fa-icon>
      <span class="ml-3">Envoyer</span>
    </button>
  </div>
</p-dialog>
