
<div class="surface-ground p-8 flex justify-content-center h-screen">
  <div class="bg-white px-4 py-2 m-8 w-8">
  <div *ngFor="let service of basket.services" class="flex mb-2 ">
    <!-- <p-checkbox [(ngModel)]="selectedServices[service.uuid]" [binary]="true" inputId="binary" class="mr-2"></p-checkbox> -->
    <div class="border-1 border-round p-1">
      <div class="my1">{{service.title}}</div>
      <a href="{{service.url}}" target="_blank" class="text-700">{{ service.url }}</a>
      <p class="p-0 my-1"[innerHtml]="service.description | safeHtml"></p>
    </div>
    <div class="flex align-items-center ml-2">
      <button pButton icon="pi pi-trash" (click)="basket.remove(service)"></button>
    </div>
  </div>
  <div *ngIf="basketEmpty" class="flex mb-2 ">
    Votre panier est vide
  </div>
  <button pButton class="p-button-orange-mrc p-4 w-full" label="Télécharger votre liste de services" (click)="1+1" [disabled]="basketEmpty"></button>
  </div>
</div>
