<div class="flex">
  <div class="flex-1 px-2 border-right-2" style="border-color: var(--green-mrc);">
    <div class="w-full my-3 flex justify-content-between align-items-center">
      <div>
        <span class="mr-3 header">Catalogue des fiches usages</span>
      </div>
      <p-button icon="pi pi-plus" label="Ajouter un usage" styleClass="p-button-outlined p-button-primary p-button-sm" (click)="newDigitalUse()" *ngIf="user!.isSuperuser"></p-button>
    </div>
    <div class="p-input w-full">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <p-autoComplete
          field="title"
          [suggestions]="suggestions"
          placeholder="Rechercher un usage"
          (completeMethod)="search($event)"
          (onSelect)="onSuggestionSelect($event)"
          >
        </p-autoComplete>
      </div>
    </div>
    <p-tree [value]="data" selectionMode="single" (onNodeSelect)="onNodeSelect($event)" emptyMessage="Aucun résultat" styleClass="mt-4">
      <ng-template let-node pTemplate="room">
        <span class="cursor-pointer text-xl">{{node.label}} <span class="text-600 text-sm">({{node.children.length}} objets)</span></span>
      </ng-template>
      <ng-template let-node pTemplate="item">
        <span class="cursor-pointer text-xl">{{node.label}} <span class="text-600 text-sm">({{node.children.length}} usages)</span></span>
      </ng-template>
      <ng-template let-node pTemplate="use">
        <div class="cursor-pointer text-xl flex align-items-center justify-content-between p-2" [ngClass]="{'border-bottom-2 border-orange-300' : selectedNode && node.data === selectedNode!.data}">
          <div>
            {{node.label}}
          </div>
          <div  *ngIf="user!.isSuperuser">
            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-outlined p-button-danger p-button-small" (click)="removeDigitalUse($event, node.data)"></p-button>
          </div>
        </div>
      </ng-template>
    </p-tree>
  </div>
  <div class="flex-1 px-2" *ngIf="selectedNode">
    <div class="w-full my-3 flex justify-content-between align-items-center">
      <div>
        <span class="mr-3 header ">Fiche usage</span>
        <span class="text-xs  text-red-600" *ngIf="saving">( <i class="pi pi-save mr-2"></i>sauvegarde en cours ...)</span>
        <span class="text-xs  text-green-600" *ngIf="saved">( <i class="pi pi-save mr-2"></i>sauvegardé)</span>
      </div>
      <p-button icon="pi pi-trash" label="Supprimer" styleClass="p-button-outlined p-button-danger p-button-sm" (click)="removeDigitalUse($event)"  *ngIf="user!.isSuperuser"></p-button>
    </div>
    <div>
      <app-edit-digital-use [useId]="selectedNode.data" (onSave)="useSaved($event)"></app-edit-digital-use>
    </div>
  </div>
  <div class="flex-1 px-2" *ngIf="digitalUseCreation">
    <div class="w-full my-3 flex justify-content-between align-items-center">
      <div>
        <span class="mr-3 header ">Nouvel usage</span>
      </div>
    </div>
    <div>
      <app-new-digital-use (onSave)="createDigitalUse($event)"></app-new-digital-use>
    </div>
  </div>
</div>
