<form [formGroup]="serviceForm" (ngSubmit)="save()">
  <div class="field">
    <label for="title">Titre</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="zone" class="w-full">Zone</label>
    <p-dropdown
      id="area"
      [options]="areas"
      formControlName="areaId"
      appendTo="body"
      optionLabel="name"
      optionValue="id"
    ></p-dropdown>
  </div>
  <div class="field">
    <label for="url">Lien</label>
    <input
      id="url"
      type="text"
      formControlName="url"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="description">Description</label>
    <p-editor formControlName="description" [style]="{ height: '90px' }">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span>
      </ng-template>
    </p-editor>
  </div>
  <button
    type="submit"
    pButton
    icon="pi pi-check"
    label="Enregistrer"
    [disabled]="!serviceForm.valid"
    class="p-button-primary p-button-sm"
  ></button>
</form>
