
<div class="min-h-screen flex surface-ground">
  <div class="min-h-screen flex flex-column relative flex-auto">
      <div class="p-5 surface-border border-round surface-section flex flex-auto">
        <div class="grid w-full flex">
          <div class="col-6">
            <p-tree [value]="data">
              <ng-template let-node pTemplate="room">
                <span class="cursor-pointer">{{node.label}} <span class="text-600 text-sm">({{node.children.length}} objets)</span></span>
              </ng-template>
              <ng-template let-node pTemplate="item">
                <span class="cursor-pointer">{{node.label}} <span class="text-600 text-sm">({{node.children.length}} usages)</span></span>
              </ng-template>
              <ng-template let-node pTemplate="use">
                <span class="cursor-pointer" (click)="showUse(node)">{{node.label}}</span>
              </ng-template>
            </p-tree>
          </div>
          <div class="col-6">
            <div *ngIf="currentUse">
              <app-edit-digital-use [useId]="currentUse.data"></app-edit-digital-use>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
