:host {
  background-color: var(--surface-100);
  height: calc(100% - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: var(--blue-mrc);

  .item-picture {
    max-height: 6rem;
    max-width: 6rem;
  }
}
